<div ng-style="capa1">
    <div ng-style="listadoNomencladores">
        <md-toolbar class="md-panel-toolbar">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button"  ng-click="adicionarNomenclador()">
                    <md-tooltip>
                        Adicionar
                    </md-tooltip>
                    <i class="mdi mdi-plus-circle-outline i-24"></i>
                </md-button>
                <md-button ng-style="oculto" style="margin-left: 0px!important;" class="md-icon-button" ng-click="editarNomenclador(node1)">
                    <md-tooltip>
                        Editar
                    </md-tooltip>
                    <i class="mdi mdi-pencil i-24"></i>
                </md-button>
                <md-button ng-style="oculto" style="margin-left: 0px!important;" class="md-icon-button" ng-click="eliminarNomenclador(node1)">
                    <md-tooltip>
                        Eliminar
                    </md-tooltip>
                    <i class="mdi mdi-delete i-24"></i>
                </md-button>
                <md-button ng-style="oculto" style="margin-right: 0px!important;" class="md-icon-button" ng-click="mostrarCapa2(node1)">
                    <md-tooltip>
                        Gestionar campos
                    </md-tooltip>
                    <i class="mdi mdi-hand-pointing-right i-24"></i>
                </md-button>
                <md-button class="md-icon-button" ng-click="cambiarEstilo()">
                    <md-tooltip>
                        Ocultar panel
                    </md-tooltip>
                    <i class="mdi mdi-chevron-double-left i-24"></i>
                </md-button>
            </div>
        </md-toolbar>

        <div layout="column" style="background: white;margin-top: 5px; font-family: 'Roboto'; font-size: 15px;">
            <div ng-style="estilo">
                <treecontrol class="tree-classic" tree-model="nomencladores" on-selection="showSelected(node,selected)"
                             selected-node="node1">
                    {{ node.nombre }}
                </treecontrol>
            </div>
        </div>
    </div>
    <div ng-style="listadoNomencladores2">
        <div layout="column" style="background: white; height: 500px;">
            <md-toolbar>
                <div>
                    <md-button class="md-icon-button" ng-click="cambiarEstilo2()">
                        <md-tooltip>
                            Mostrar panel
                        </md-tooltip>
                        <i class="mdi mdi-chevron-double-right i-24"></i>
                    </md-button>
                </div>
            </md-toolbar>
        </div>
    </div>

    <div>
        <div ng-style="barraTablaNomenc" layout="column">
            <!--<md-toolbar class="md-panel-toolbar mobile ng-scope" ng-show="!selected.length">-->
                <!--<div class="md-toolbar-tools ng-hide" data-ng-show="showMobileMainHeader" aria-hidden="true">-->
                    <!--<h3>Nomencladores ({{listaInstancia.valores.length}})</h3>-->
                    <!--<span flex></span>-->
                    <!--<md-input-container class="md-block" ng-style="oculto">-->
                        <!--<input ng-model="search" style="color: white;">-->
                    <!--</md-input-container>-->
                    <!--<md-button class="md-icon-button" ng-style="oculto" data-ng-click="showMobileMainHeader = false"-->
                               <!--aria-label="Search">-->
                        <!--<md-tooltip>-->
                            <!--Buscar-->
                        <!--</md-tooltip>-->
                        <!--<i class="mdi mdi-magnify i-24"></i>-->
                    <!--</md-button>-->
                    <!--<md-button class="md-icon-button" ng-style="oculto" ng-click="adicionarInstancia()">-->
                        <!--<md-tooltip>-->
                            <!--Adicionar-->
                        <!--</md-tooltip>-->
                        <!--<i class="mdi mdi-plus-circle-outline i-24"></i>-->
                    <!--</md-button>-->
                <!--</div>-->
                <!--<div class="md-toolbar-tools" data-ng-hide="showMobileMainHeader" aria-hidden="false">-->
                    <!--<h3>Nomencladores ({{listaInstancia.valores.length}})</h3>-->
                    <!--<span flex></span>-->
                    <!--<md-button class="md-icon-button" ng-style="oculto" data-ng-click="showMobileMainHeader = true"-->
                               <!--aria-label="Back">-->
                        <!--<md-tooltip>-->
                            <!--Buscar-->
                        <!--</md-tooltip>-->
                        <!--<i class="mdi mdi-magnify i-24"></i>-->
                    <!--</md-button>-->
                    <!--<md-button class="md-icon-button" ng-style="oculto" ng-click="adicionarInstancia()">-->
                        <!--<md-tooltip>-->
                            <!--Adicionar-->
                        <!--</md-tooltip>-->
                        <!--<i class="mdi mdi-plus-circle-outline i-24"></i>-->
                    <!--</md-button>-->
                <!--</div>-->
            <!--</md-toolbar>-->
            <md-toolbar class="md-panel-toolbar mobile ng-scope" ng-show="!selected.length">
                <div class="md-toolbar-tools ng-hide" data-ng-hide="selected.length || filter.show">
                    <h3>Nomencladores ({{listaInstancia.count}})</h3>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-style="oculto" data-ng-click="filter.show = true"
                               aria-label="Search">
                        <md-tooltip>
                            Buscar
                        </md-tooltip>
                        <i class="mdi mdi-magnify i-24"></i>
                    </md-button>
                    <md-button class="md-icon-button" ng-style="oculto" ng-disabled="sinCampos" ng-click="adicionarInst()">
                        <md-tooltip>
                            Adicionar
                        </md-tooltip>
                        <i class="mdi mdi-plus-circle-outline i-24"></i>
                    </md-button>
                </div>
                <div class="md-toolbar-tools" data-ng-show="filter.show && !selected.length">
                    <form flex name="filter.form">
                        <md-input-container md-no-float class="md-block" md-theme="docs-dark">
                            <input type="text" ng-style="oculto" ng-model="query.filter" ng-model-options="filter.options" placeholder="Buscar">
                        </md-input-container>
                    </form>
                    <md-button class="md-icon-button" ng-style="oculto" ng-click="removeFilter()">
                        <i class="mdi mdi-close i-24"></i>
                    </md-button>
                </div>
            </md-toolbar>

            <md-toolbar class="md-table-toolbar alternate" ng-show="selected.length">
                <div class="md-toolbar-tools">
                    <span>{{selected.length}} {{selected.length > 1 ? 'nomencladores' : 'nomenclador'}} seleccionado(s)</span>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="editarInst(selected)"
                               ng-show="selected.length == 1">
                        <md-tooltip>
                            Editar
                        </md-tooltip>
                        <i class="mdi mdi-pencil i-24"></i>
                    </md-button>
                    <md-button class="md-icon-button" ng-click="eliminarInstancia(selected)">
                        <md-tooltip>
                            Eliminar
                        </md-tooltip>
                        <i class="mdi mdi-delete-forever i-24"></i>
                    </md-button>
                </div>
            </md-toolbar>
        </div>
        <div ng-style="tablaNomc" layout="column" style="background: white; padding: 0 16px; margin-left: 10px;">
            <md-table-container>
                <table data-md-table data-md-row-select="!hideCheckboxes"
                       data-ng-model="selected" md-progress="promise">
                    <thead ng-if="!hideHead" md-head data-md-order="query.order" md-on-reorder="onReorder">
                    <tr md-row>
                        <th md-column ><span>ID</span>
                        </th>
                        <th md-column ><span>Nombre Instancia</span>
                        </th>
                        <th data-ng-repeat="columna in listaCampos.data" md-column><span>{{columna.nombre}}</span>
                        </th>
                    </tr>
                    </thead>
                    <tbody md-body>
                    <tr md-row md-select="instancia" data-md-on-select="log" md-on-deselect="deselect"
                        x-md-auto-select="!blah"
                        data-ng-repeat="instancia in listaInstancia.valores">
                        <td md-cell ng-model="instancia.IDNOP">
                            {{instancia.IDNOP}}
                        </td>
                        <td md-cell ng-model="instancia.NomNOP">
                            {{instancia.NomNOP}}
                        </td>
                        <td md-cell data-ng-repeat="fila in instancia.valores track by $index ">
                            {{fila}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </md-table-container>

            <data-md-table-pagination md-label="{{$labelPagination}}" md-limit="query.limit" md-page="query.page"
                                      md-total="{{listaInstancia.count}}"
                                      md-on-paginate="onPaginate" md-page-select>
            </data-md-table-pagination>
            {{tr}}
        </div>
    </div>
</div>

<div ng-style="sombra">

</div>

<div ng-style="capa2">
    <div ng-style="vistaCampo">
        <md-toolbar class="md-panel-toolbar" style="width: 90%;">
            <div class="md-toolbar-tools">
                <h3>Gestionar campos</h3>
                <span flex=""></span>
                <md-button class="md-icon-button" ng-click="mostrarCapa1(selectedCampo)">
                    <md-tooltip>
                        Cerrar ventana
                    </md-tooltip>
                    <i class="mdi mdi-close i-24"></i>
                </md-button>
            </div>
        </md-toolbar>
        <md-divider></md-divider>
        <div layout="column" style="width: 90%;">
            <md-toolbar class="md-panel-toolbar mobile ng-scope" ng-show="!selectedCampo.length">
                <div class="md-toolbar-tools" data-ng-hide="showMobileMainHeader2" aria-hidden="false">
                    <h3>Campos ({{listaCampos.count}})</h3>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="adicionarCampo()">
                        <md-tooltip>
                            Adicionar campo
                        </md-tooltip>
                        <i class="mdi mdi-plus-circle-outline i-24"></i>
                    </md-button>
                </div>
            </md-toolbar>
            <md-toolbar class="md-table-toolbar alternate" ng-show="selectedCampo.length">
                <div class="md-toolbar-tools">
                    <span>{{selectedCampo.length}} {{selectedCampo.length > 1 ? "campos" : "campo"}} seleccionado(s)</span>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-show="selectedCampo.length == 1"
                               ng-click="editarCampo(selectedCampo)">
                        <md-tooltip>
                            Editar campo
                        </md-tooltip>
                        <i class="mdi mdi-pencil i-24"></i>
                    </md-button>
                    <md-button class="md-icon-button" ng-click="eliminarCampo(selectedCampo)">
                        <md-tooltip>
                            Eliminar campo
                        </md-tooltip>
                        <i class="mdi mdi-delete-forever i-24"></i>
                    </md-button>
                </div>
            </md-toolbar>
        </div>
        <div layout="column" style="background: white; width: 90%;">
            <md-table-container>
                <table data-md-table data-md-row-select="!hideCheckboxes" data-ng-model="selectedCampo"
                       md-progress="promise">
                    <thead ng-if="!hideHead" md-head data-md-order="query2.order" md-on-reorder="onReorder2">
                    <tr md-row>
                        <th md-column data-md-order-by="id"><span>ID</span></th>
                        <th md-column data-md-order-by="nombre"><span>Nombre</span></th>
                        <th md-column data-md-order-by="tipoDato"><span>Tipo de dato</span></th>
                        <th md-column data-md-order-by="descripcion"><span>Descripción</span></th>
                        <th md-column data-md-order-by="vinculado"><span>Vinculado</span></th>
                        <th md-column data-md-order-by="nomencladorVin"><span>NomencladorVin</span></th>
                    </tr>
                    </thead>
                    <tbody md-body>
                    <tr md-row md-select="campo" x-md-auto-select="!blah"
                        data-ng-repeat="campo in listaCampos.data">
                        <td md-cell ng-model="campo.id">
                            {{campo.id}}
                        </td>
                        <td md-cell ng-model="campo.nombre">
                            {{campo.nombre}}
                        </td>
                        <td md-cell ng-model="campo.tipoDato">
                            {{campo.tipoDato}}
                        </td>
                        <td md-cell ng-model="campo.descripcion">
                            {{campo.descripcion}}
                        </td>
                        <td md-cell ng-model="campo.vinculado">
                            {{campo.vinculado}}
                        </td>
                        <td md-cell ng-model="campo.nomencladorVin">
                            {{campo.nomencladorVin}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </md-table-container>
            <data-md-table-pagination md-label="{{$labelPagination}}" md-limit="query2.limit" md-page="query2.page" md-total="{{listaCampos.count}}"
                                      md-on-paginate="onPaginate2" md-page-select>
            </data-md-table-pagination>
        </div>
    </div>
</div>